<?php if(isset($this->updateComplete)) : ?>
	<div class="row-fluid align-center main-welcome">
		<h1>WP Mover has successfully updated your WordPress!</h1>
		<p class="lead">Below you can check how many rows had to be updated.</p>
	</div>
	<div class="alert alert-success">
    	Table <i>*_options</i> (column <i>option_value</i>): updated <b><?php echo $this->countOptions; ?></b> rows;
    </div>
	<div class="alert alert-success">
    	Table <i>*_posts</i> (column <i>guid</i>): updated <b><?php echo $this->countPostsGuid; ?></b> rows;
    </div>
    	<div class="alert alert-success">
    	Table <i>*_posts</i> (column <i>post_content</i>): updated <b><?php echo $this->countPostsContent; ?></b> rows;
    </div>
    <div class="row-fluid align-center main-welcome">
    	<a class="btn btn-large btn-success" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index')); ?>">
    		<i class="icon-arrow-left icon-white"></i>
    		Go back to main page
    	</a>
    </div>
<?php else : ?>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index')); ?>" title="Go to main page">WordPress Mover</a>
		</div>
	</div>
	<?php if(isset($this->isError)) : ?>
	    <div class="alert alert-danger">
		    <strong>Error!</strong>&nbsp;<?php echo $this->msgError; ?>
	    </div>
	<?php endif; ?>
	<form method="POST" id="frmWP" name="frmWP" action="<?php echo $this->url(array('controller' => 'setup', 'action' => 'update')); ?>" class="form-horizontal">
		<fieldset>
			<legend>Database credentials</legend>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="db-name">Database Name</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" id="db-name" name="db-name" value="<?php echo $this->value('db-name'); ?>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="wp-prefix">WP tables prefix</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" id="wp-prefix" name="wp-prefix" value="<?php echo $this->value('wp-prefix', 'wp_'); ?>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="user-name">User Name</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" id="user-name" name="user-name" value="<?php echo $this->value('user-name', 'root') ?>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="user-password">User Password</label>
				<div class="col-lg-10">
					<input class="form-control" type="password" id="user-password" name="user-password">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="host">Host</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" id="host" name="host" value="<?php echo $this->value('host', '127.0.0.1'); ?>">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Domain information</legend>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="prev-domain">Previous domain</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" id="prev-domain" name="prev-domain" value="<?php echo $this->value('prev-domain', 'http://'); ?>">
					<span class="help-block">Input domain name with <i>'http://'</i> part but without ending <i>'/'</i></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="target-domain">Target domain</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" id="target-domain" name="target-domain" value="<?php echo $this->value('target-domain', 'http://'); ?>">
					<span class="help-block">Input domain name with <i>'http://'</i> part but without ending <i>'/'</i></span>
				</div>
			</div>
		</fieldset>
		<div class="form-group">
    		<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" name="submit-update" id="submit-update" class="btn btn-success" value="Proceed Update" />
			</div>
		</div>
	</form>
<?php endif; ?>
<hr />