<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>WordPress Mover</title>
		<script src="<?php echo $this->baseUrl('public/js/jquery.js'); ?>"></script>
		<script src="<?php echo $this->baseUrl('public/js/jquery-ui.custom.js'); ?>"></script>
		<script src="<?php echo $this->baseUrl('public/js/bootstrap.js'); ?>"></script>
		<script src="<?php echo $this->baseUrl('public/js/application.js'); ?>"></script>
		<script src="<?php echo $this->baseUrl('public/js/setup/update.js'); ?>"></script>
		<link href="<?php echo $this->baseUrl('public/css/bootstrap.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->baseUrl('public/css/jquery-ui.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->baseUrl('public/css/style.css'); ?>" rel="stylesheet">
	</head>
		<body>
			<div class="container">
