<div class="row-fluid align-center main-welcome">
	<h1>Welcome to WordPress Mover!</h1>
	<p class="lead">This application will help you update your WordPress database easily to run on any other domain than source (for example when moving WordPress from development environment - like localhost - to target domain).<br />Just press the button below and begin!</p>
	<a class="btn btn-large btn-success" href="<?php echo $this->url(array('controller' => 'setup', 'action' => 'update')); ?>">Update WordPress database</a>
</div>
<hr />
<div class="row-fluid">
    <div class="alert alert-block alert-warning">
	    <h4>Warning!</h4>
	    Before running this application, please make sure that you have the <b>latest backup of your WordPress installation</b> - just in case.
    </div>
</div>
<hr />